table, th, td {
    border: 2px solid;
    border-color: transparent;
    border-style:dotted;
    font-style: italic;
    background: #BDC7C9;
   
  }



a{
    font-size: 12px;
}

tr{
    height: 36px; color: #847554;
}

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #2B4f60;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #845460;
    background-color: transparent;
    /*text-decoration: underline;*/
  }
  
  a:active {
    color: #2B4f60;
    background-color: transparent;
    text-decoration: underline;
  }
  